<!-----templete to render table of employee records-------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>

<body>
<table>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Salary</th>
    <th>Position</th>
    <th>Status</th>
    <th>Hire Date</th>
    <th>Terminate Date</th>
   {{#each employees}}

    
        <tr>
        <td>{{id}}</td>
        <td>{{firstname}} {{lastname}}</td>
        <td>{{email}}</td>
        <td>{{address}}</td>
        <td>{{salary}}</td>
        <td>{{position}}</td>
        <td>{{status}}</td>
        <td>{{hireDate}}</td>
        <td>{{terminateDate}}</td>
        </tr>
    
{{/each}}
</table>
</body>

</html>


<script src="/js/employees.js"></script>