<!-----templete to render table of employee records-------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{employee.firstname}} {{employee.lastname}} Employee Details</title>
</head>

<body>

    <h1>{{employee.firstname}} {{employee.lastname}} Details</h1>

    <ul>
        <li>ID:{{employee.id}}</li>
        <li>Name:{{employee.firstname}} {{employee.lastname}}</li>
        <li>Email:{{employee.email}}</li>
        <li>Address:{{employee.address}}</li>
        <li>Salary:{{employee.salary}}</li>
        <li>Position:{{employee.position}}</li>
        <li>Status:{{employee.status}}</li>
        <li>Manager:{{employee.Manager.firstname}} {{employee.Manager.lastname}}</li>
        <li>Hire Date:{{employee.hireDate}}</li>
        <li>Terminate Date:{{employee.terminateDate}}</li>
        
    </ul>

</body>

</html>


<script src="/js/employees.js"></script>