<!-- Edit and Create Employee HNS -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <h1>{{title}}</h1>

    <form action="{{action}}" method="post">
       <!-- first name -->
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" value="{{employee.firstname}}" required>
        <!-- last name -->
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" value="{{employee.lastname}}" required>

        <!-- email -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{employee.email}}" required>

        <!-- adress -->       
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{employee.address}}" required>

        <!-- salary/pay -->
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" value="{{employee.salary}}" required>

        <!-- emp position -->
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" value="{{employee.position}}" required>

        <!-- emp status (active or not) -->
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="1" {{#if employee.status}}selected{{/if}}>Active</option>
            <option value="0" {{#if employee.status}}selected{{/if}}>Inactive</option>
        </select>

        <!-- manager status -->
        <label for="managerId">Manager:</label>
        <select id="managerId" name="managerId" required>
            {{#each managers}}
            <option value="{{this.id}}" {{#if (eq this.id employee.managerId)}}selected{{/if}}>{{this.firstname}}
                {{this.lastname}}</option>
            {{/each}}
        </select>

        <!-- date of hire -->
        <label for="hireDate">Hire Date:</label>
        <input type="date" id="hireDate" name="hireDate" value="{{formatDate employee.hireDate}}" required>
        <!-- date of termination -->
        <label for="terminateDate">Terminate Date:</label>
        <input type="date" id="terminateDate" name="terminateDate" value="{{formatDate employee.terminateDate}}">

       

        <button type="submit" id="editBttn">Save</button>
    </form>

</body>

</html>



<script src="/js/employee.js"></script>